.DS_Store
.Rhistory
.Rprofile
.Rapp.history
.RData
.Ruserdata
/*.Rcheck/
published-202511-alquier-regmmd.Rproj
.Rproj.user/
*_cache/
/cache/
*_files/
/logo_text_white.pdf
published-202511-alquier-regmmd.pdf
published-202511-alquier-regmmd.html

README.html
README.qmd
/.quarto/
_extensions/
renv/

logo_notext_white.png
